---
BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Allman
SpacesInAngles: 'true'
SpacesInCStyleCastParentheses: 'true'
SpacesInContainerLiterals: 'true'
SpacesInParentheses: 'true'
SpacesInSquareBrackets: 'true'
ColumnLimit: '1000'
PointerAlignment: Left
SpaceBeforeAssignmentOperators: 'true'
BinPackArguments: 'false'
...
